* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
}

/* For Header Work */
nav {
  display: flex;
  max-width: 100%;
  max-height: 40vh;
  padding: 10px 0px;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 30px;
}

nav ul li {
  list-style: none;
  /* width: 120px; */
}

nav ul li a:hover {
  font-size: 20px;
  font-weight: 600;
  color: #5955b3;
}

/* For Adding underline in below nav element. */
nav ul li a::after {
  content: '';
  display: block;
  width: 0%;
  height: 3px;
  background-color: #3c2e60;
  transition: width .3s;
}

nav ul li a:hover::after {
  width: 100%;
  transition: width .3s;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 400;
}

nav ul li img {
  margin-left: 40px;
  width: 125px;
  height: 45px;
}

.btn1 button {
  padding: 10px 30px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
  margin-right: 40px;
  background-color: #5955b3;
  border: 1px solid #ffffff;
  color: #ffffff;
  width: 160px;
  height: 50px;
}

.btn1 button:hover {
  background-color: #ffffff;
  color: #5955b3;
  font-weight: 700;
  font-size: 15px;
  border: 2px solid black;
}

/* Main Section */
main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Main Section left */

.main-sec-left {
  margin-left: 40px;
  width: 50%;
}

.main-sec-left h1 {
  color: #3c2e60;
  font-size: 60px;
  line-height: 70px;
}

.main-sec-left h1 span {
  color: #5955b3;
}

.main-sec-left p {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #828282;
}

.main-sec-left button {
  padding: 15px 30px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
  margin-top: 50px;
  background-color: #5955b3;
  border: 1px solid #ffffff;
  color: #ffffff;
  width: 200px;
  height: 60px;
}

.main-sec-left button:hover {
  background-color: #ffffff;
  color: #5955b3;
  font-weight: 700;
  font-size: 15px;
  border: 2px solid black;
}

/* Main section right */

.main-sec-right {
  width: 50%;
}

.main-sec-right img {
  height: 600px;
  width: 700px;
  margin-right: 40px;
}
